/* Overall style */
* {
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
}

/* Body style */
body {
  margin: 0;
  font-family: "Questrial", sans-serif;
  font-size: 28px;
}

#center {
  text-align: center;
}

#justify {
  text-align: justify;
}

#left {
  text-align: left;
}

#right {
  text-align: right;
}

.logo {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 70px;
}

/* Footer style */
.footer {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343636;
  color: white;
  text-align: center;
  font-size: 15px;
}

/* When the user is in a page, mark the corresponding button in navbar */
.focus {
  background-color: #c3c5c5;
  color: #ffffff;
}

/* Unordered list (navbar) style */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #ffffff;
    min-height: 48px;
}

/* List elements (navbar buttons) style */
li {
  float: left;
}

/* Styles for the buttons and the dropdown button */
li a, .dropbtn {
  display: inline-block;
  border: none;
  color: #515151;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.5s;
}

/* Hover styles for the buttons and the dropdown buttons */
li a:hover, .dropdown:hover .dropbtn {
  background-color: #c3c5c5;
  color: #FFFFFF;
}

/* Styles for the dropdown list */
li .dropdown {
  display: inline-block;
}
  
/* Styles for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
/* Styles for the buttons in dropdown content */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
  
/* Styles for the hover buttons in dropdown content */
.dropdown-content a:hover {
  background-color: #c3c5c5;
}

/* Styles for the hover of dropdown content */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Styles for the button component */ 
.button {
  background-color: #ffc180;
  font-size: 16px;
  border-radius: 12px;
  border: 2px solid gray;
  padding: 20px 30px;
  transition-duration: 0.5s;
}

.button:hover {
  background-color: #8e4800;
  color: #b2b2b2;
}

/* Styles for the h1 header */
h1 {
  max-width: 100vh;
  max-height: 100%;
  position: relative;
  animation-name: animation_h1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
  
/* Animation for the h1 header */
#h1 {
  animation-timing-function: ease;
}

/* Keyframes for the h1 header */
@keyframes animation_h1 {
  from {right: 100%;}
  to {right: 0%;}
}
  
/* Styles for the h4 header */
h4 {
  padding-bottom: 70px;
  max-width: 100vh;
  max-height: 100%;
  position: relative;
  animation-name: animation_h4;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}
  
/* Animation for the h4 header */ 
#h4 {
  animation-timing-function: ease-out;
}
  
/* Keyframes for the h4 header */
@keyframes animation_h4 {
  from {left: 0%;}
  to {left: 100%;}
}

/* Style and animation for i tag */
i {
  font-size: 400px;
  position: relative;
  animation: fadeIn;
  animation-name: animation_i;
  animation-duration: 4s;
  color: #b2b2b2;
}
  
/* Keyframes for i */
@keyframes animation_i {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Style and animation for img tag */
.image {
  position: relative;
  animation: fadeIn;
  animation-name: animation_img;
  animation-duration: 4s;
}

/* Keyframes for img */
@keyframes animation_img {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Styles for the p */
p {
  text-align: justify;
}

/* Section styles */
section {
  position: relative;
  min-height: 70vh;
  display: block;
  justify-content: center;
  align-items: center;
}

/* Section container styles */
section .container{
  margin: 100px;
}

/* Section reveal styles */
section .reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

/* Section text container styles */
section .text-container{
  display: flex;
  color: #f2f2f2;
}

/* Section text box styles */
section .text-container .text-box{
  margin: 20px;
  padding: 20px;
}

section p {
  font-size: 20px;
  line-height: 1.5;
}

/* First Section */
.first {
  padding-top: 50px;
  background: #8e4800;
  color: #b2b2b2;
} 

/* Second Section */
.second {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #343636;
}

/* h2 and h3 header for second section */
.second h2 {
  color: #ffc180;
}

/* h3 header for second section*/
.second h3 {
  color: #ffc180;
}

/* p for second section */
.second p {
  color: #b2b2b2;
}

/* Third Section */
.third {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #8e4800;
}

/* h2 and h3 header for third section */
.third h2, h3 {
  color: #313131;
}

/* p for third section */
.third p {
  color: #b2b2b2;
}

/* Style when the sections are revealed */
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/* Style for section's h1 header */
section h1 {
  font-size: 3rem;
  margin: 20px;
}

/* Style for section's h2 header */
section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
}

/* Style for section's h3 header */
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}




  

  
